h1 {
    padding: 5px;
    padding-left: 5%;
    margin: 6px;
    position: relative;
    font-size:220%;
    background-color: #92d3e6;
    color: #13293d;
    right: 30px;
  }

  .portfolio_pic {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Portfolio_Pic.jpg");
    background-size: contain;
    background-position: center;
  }
  
  .flexDisplay {
    display: flex;
    margin: 15px;
  }
  